.leftbar {
    display: flex;
    flex-direction: column;
    background-color: #020203;
    width: 100px;
    height: 718.95px;
    align-items: center;
    justify-content: space-evenly;
}

.logos {
    width: 50%;
    cursor: pointer;
}

.copyright {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding-right: 0px;
    font-size: 12px;
}