.resume {
    position: absolute;
    right: 0%;
    top: 17%;
    display: flex;
    flex-direction: column;
}

.inside {
    display: flex;
    width: 200px;
    align-items: center;
    background-color: #FBFBFB;
    border-radius: 5px;
    padding: 15px;
    padding-right: 0px;
    padding-left: 15px;
    margin-top: 35px;
}

.resumeImg {
    width: 60px;
    height: 60px;
}

.resumeDesc {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.count {
    margin: 0
}

.name {
    margin: 0
}