.navbar {
    width: 100%;
    background-color: #020203;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px
}

.image {
    width: 15%;
    padding-left: 20px
}

span {
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding-right: 20px;
    cursor: pointer;
}