.dashboard {
    width: 100%;
    padding-top: 50px;
    padding-left: 30px;
    position: relative;
}

.user {
    font-size: 30px;
    color: black;
    cursor: auto;
    padding-right: 10px
}

.name {
    color: red
}

.congratulations {
    font-size: 18px;
    font-weight: 400;
}



.radar {
    display: flex;
    justify-content: space-around;
}

