.dashboard {
    width: 100%;
    padding-top: 50px;
    padding-left: 30px;
    position: relative;
}

.user {
    font-size: 30px;
    color: black;
    cursor: auto;
    padding-right: 10px
}

.name {
    color: red
}

.congratulations {
    font-size: 18px;
    font-weight: 400;
}



.graphs {
    width: 75%;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loadingCtn {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
