.scoreCtn {
    width: 30%;
    height: 210px;
    position: relative;
    background-color: #FBFBFB;
    border-radius: 1rem;
}

.titreScore {
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0
}