.ctn {
    margin-top: 50px;
    height: 200px;
    width: 625px;
}

.title {
    margin-left: 15px;
    font-size: 16px;
}

.recharts-legend-item-1 { 
    font-size: 5rem; 
}

.tooltip_container {
    background-color: red;
    height: 4rem;
    font-size: 11px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px
  }

  